body {
    background-color: #111;

    p {
        color: #000000;

        &:hover {
            color: #FFFFFF;
            text-decoration: dashed;
        }
    }

    a {
        text-decoration: dashed;
    }
}

